@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}